body{
	margin-bottom: 60px;
}

.featuredImg{
	margin-bottom: 15px;
}

#instafeed{

	a {
		text-decoration: none;
	}

	.likes{
		color: #fff;
		font-size: 25px;
		position: relative;
		left: 45px;
		bottom: 90px;
		font-family: Arial, Helvetica, sans-serif;
		opacity: 0.3;
		transition: opacity 2s;
	}

	.likes:hover{
		opacity: 1;
	}
}

